.button {
    background-color : green;
    color: white;
    font : inherit;
    border: 1px solid blue;
    padding : 8p;
    cursor: pointer;
    }

.button.Red {

        background-color: red;
}

.red{
    color: red;
  }
  
  .bold{
    font-weight: bold;
  }
  
  
  
  .button:hover {
    background-color: lightgreen ;
    color: black;
  }
  
  
  .button.Red:hover{
    background-color: salmon;
  }

  .Cockpit {
    text-align: center;
  }